
.simulation-space svg {
  position: absolute;
  width: 0;
  height: 0;
}
.simulation-space .wrap {
  width: 400px;
  height: 900px;
  position: relative;
  -webkit-animation: scrollup 6s linear infinite;
          animation: scrollup 6s linear infinite;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}
@-webkit-keyframes scrollup {
  from {
    -webkit-transform: scale(0.75) translateY(100px);
            transform: scale(0.75) translateY(100px);
  }
  to {
    -webkit-transform: scale(0.75) translateY(-100px);
            transform: scale(0.75) translateY(-100px);
  }
}
@keyframes scrollup {
  from {
    -webkit-transform: scale(0.75) translateY(100px);
            transform: scale(0.75) translateY(100px);
  }
  to {
    -webkit-transform: scale(0.75) translateY(-100px);
            transform: scale(0.75) translateY(-100px);
  }
}
.simulation-space .wrap .angle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: calc(50% - 50px);
  -webkit-filter: contrast(10px);
          filter: contrast(10px);
}
.simulation-space .wrap .angle:first-of-type {
  -webkit-animation: rolldown 6s ease-in-out infinite;
          animation: rolldown 6s ease-in-out infinite;
}
@-webkit-keyframes rolldown {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rolldown {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.simulation-space .wrap .angle:first-of-type:before {
  -webkit-animation: rolldown2 6s ease-in-out infinite;
          animation: rolldown2 6s ease-in-out infinite;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
@-webkit-keyframes rolldown2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rolldown2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.simulation-space .wrap .angle:nth-of-type(2) {
  -webkit-animation: rolldown3 6s ease-in-out infinite;
          animation: rolldown3 6s ease-in-out infinite;
  -webkit-transform-origin: left;
          transform-origin: left;
}
@-webkit-keyframes rolldown3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37.5% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@keyframes rolldown3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37.5% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.simulation-space .wrap .angle:nth-of-type(2):before {
  -webkit-animation: rolldown4 6s ease-in-out infinite;
          animation: rolldown4 6s ease-in-out infinite;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
@-webkit-keyframes rolldown4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@keyframes rolldown4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.simulation-space .wrap .angle:nth-of-type(3) {
  -webkit-animation: rolldown5 6s ease-in-out infinite;
          animation: rolldown5 6s ease-in-out infinite;
}
@-webkit-keyframes rolldown5 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  62.5% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rolldown5 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  62.5% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.simulation-space .wrap .angle:nth-of-type(3):before {
  -webkit-animation: rolldown6 6s ease-in-out infinite;
          animation: rolldown6 6s ease-in-out infinite;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
@-webkit-keyframes rolldown6 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  62.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rolldown6 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  62.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.simulation-space .wrap .angle:nth-of-type(4) {
  -webkit-animation: rolldown7 6s ease-in-out infinite;
          animation: rolldown7 6s ease-in-out infinite;
  -webkit-transform-origin: left;
          transform-origin: left;
}
@-webkit-keyframes rolldown7 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  87.5% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@keyframes rolldown7 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  87.5% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.simulation-space .wrap .angle:nth-of-type(4):before {
  -webkit-animation: rolldown8 6s ease-in-out infinite;
          animation: rolldown8 6s ease-in-out infinite;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
@-webkit-keyframes rolldown8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  87.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@keyframes rolldown8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  87.5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
.simulation-space .wrap .angle:nth-of-type(1) {
  top: calc((50% - 250px) + (0 * 50px));
}
.simulation-space .wrap .angle:nth-of-type(1):before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #d09595, #aebfef);
}
.simulation-space .wrap .angle:nth-of-type(even):before {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.simulation-space .wrap .angle:nth-of-type(odd):before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.simulation-space .wrap .angle:nth-of-type(2) {
  top: calc((50% - 250px) + (1 * 50px));
}
.simulation-space .wrap .angle:nth-of-type(2):before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #d09595, #aebfef);
}
.simulation-space .wrap .angle:nth-of-type(even):before {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.simulation-space .wrap .angle:nth-of-type(odd):before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.simulation-space .wrap .angle:nth-of-type(3) {
  top: calc((50% - 250px) + (2 * 50px));
}
.simulation-space .wrap .angle:nth-of-type(3):before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #d09595, #aebfef);
}
.simulation-space .wrap .angle:nth-of-type(even):before {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.simulation-space .wrap .angle:nth-of-type(odd):before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.simulation-space .wrap .angle:nth-of-type(4) {
  top: calc((50% - 250px) + (3 * 50px));
}
.simulation-space .wrap .angle:nth-of-type(4):before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #d09595, #aebfef);
}
.simulation-space .wrap .angle:nth-of-type(even):before {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.simulation-space .wrap .angle:nth-of-type(odd):before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.none{
  display: none;
}