/* general------------------------------------------------------ */
body{ box-sizing: border-box; margin: 0;}
button{
  color: hsl(211, 97%, 53%);
  border: 1px solid #ededed;
  width: 8em; border-radius: 4%;
  padding: 0.5em;

  background-color: #EBEBF1;
}
/* aplication -------------------------------------------- */

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  min-height: 100vh;
  color: hsl(231, 8%, 35%);
  font-family: 'Krub', sans-serif;
  background: linear-gradient(-121deg,  #fdfbfb 0%,#f2f2f2 100%);
}

.simulation-space{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.8px solid hsla(231, 8%, 85%,0.4);
  position: relative;
  background-color: hsla(231, 8%, 85%,0.2);
  min-width: 80%;
  height: 22em;
  border-radius: 2%;
  font-size: 1.2em;
}

.execution-process{ margin-top: 2em;}
.execution-time{ margin-top: 0.5em; }

.tbl-results{
  background: linear-gradient(to right, hsla(0, 38%, 70%,0.2), hsla(224, 68%, 81%, 0.2) );
  height: 18em;
  border-radius: 1.5%;
}
.tb-title{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
.tbl-calcs{
  text-align: center;
  margin-top: 0.4em;
  font-size: 0.8em;
}
.tbl-header{background-color: rgba(255,255,255,0.3); }
.tbl-content{
  height:12em;
  overflow-y:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);

}
th{
  padding: 1.2em 1em;
  text-align: center;
  font-weight: 500;
  font-size: 12px;width: 6em;
  text-transform: uppercase;
}
td{
  width: 6em;
  padding: 1em ;
  text-align: center;
  vertical-align:left;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 0.5em; 
  width: 35%;
}

::-webkit-scrollbar {width: 6px;} 
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); } 
::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }