/* general------------------------------------------------------ */
body{ box-sizing: border-box; margin: 0;}

input{
  background-color: #fbfbfb;
  border: 0; border-radius: 8%;
  margin: 0; margin-top: 0.2em;
  height: 1.6em; width: 7em;
  padding-left: 0.3em;
  display: block;
  color: hsl(231, 8%, 35%);
}

input[disabled="true"]{ color: #bbb;}

label{display: inline-block; color: hsl(231, 8%, 35); font-size: 0.8em;}

.material-icons{
  transition: 0.18s transform ease-in;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bolder; color: azure;
}

.material-icons:hover{ transform: scale(1.5);}
.material-icons:active{color: hsl(211, 97%, 53%);}

/* aplication -------------------------------------------- */

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vh;
  min-height: 100vh;
  color: hsl(231, 8%, 35%);
  font-family: 'Krub', sans-serif;
  background: linear-gradient(-121deg,  #fdfbfb 0%,#f2f2f2 100%);
}

.processes{
  border: 0.8px solid hsla(231, 8%, 85%,0.4);
  position: relative;
  background-color: hsla(231, 8%, 85%,0.2);
  min-width: 75%;
  height: 22em;
  border-radius: 2%;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {width: 6px;} 
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); } 
::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }

.processes__list{ width: 95.5%; min-height:22em;}

.list__process{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em;
  background: linear-gradient(to right, hsla(0, 38%, 70%,0.2), hsla(224, 68%, 81%, 0.2) );
  border: 0.8px solid hsla(231, 8%, 85%,0.4);
  min-height: 3.5rem;
  border-radius: 0.2em;
  overflow: hidden;
}

.processes__bar{
 position: fixed;
 margin: 0; padding: 0;
 right: 7.75em;
 height: 22em; width: 3.5%; 
 background: linear-gradient(to bottom, hsl(0, 38%, 70%), hsl(224, 68%, 81%) );
 list-style: none;
}

.bar__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 2.5em;
}

.pDelete{
  color: #BFA9C1;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.user-name{ display: inline; margin-top: 0.4em; font-size: 0.8em;}
.user-name::before{ content: "User: "; font-weight: bold; }


